h1 {
    color: white;
    font-size: 64px;
}

h2 {
    font-size: 32px;
    margin-bottom: 30%;
    color: white;
}
section {
    background-image: url(./../../../assets/img/1_hero/JPG/hero_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div {
    width: 100%;
}