@mixin links {
    text-decoration: none;
    color: white;
    &:hover {
        background-color: black;
    }
}

@mixin dFlex($jc:center, $ai: center, $g: 0) {
    justify-content: $jc;
    align-items: $ai;
    display: flex;
    gap: $g;
}

nav {
    display: flex;
    width: 100%;
    font-size: 32px;
    @include dFlex($jc: space-between);
    padding: 0 32px;
    top: 0;
    position: absolute;
    height: 100px;
    font-family: Raleway;

    >img {
        width: 64px;
        height: 64px;
    }

    >div {
        @include dFlex($g: 10px);
        cursor: pointer;

        >a {
            padding: 0 12px;

            &:hover {
                color: red;
            }
        }
    }




}

a {
    @include links(); 
}

.phone_number {
    padding: 8px 32px;
    background-color: rgb(136, 25, 25);
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: solid 1px white;

    &:hover {

        background-color: rgb(199, 44, 44);
    }

    >a {
        font-size: 24px;
    }

    >img {
        width: 24px;
        height: 24px;
        object-fit: contain;
        margin-right: 4px;
    }
}